.page-link {
  width: 10px;
  color: red !important;

}
.tb{
    position: relative;
    top: 90px;
}
.tabl1{
    color: goldenrod;
    text-align: center;
    background: black;
    margin: 10px;
    padding-top:20px ;
    text-transform:uppercase;
    border-radius: 10px;
    box-shadow: 0px 1px 10px goldenrod;
}
.tabl1 h1{
    font-weight: bold;
}
.gest{
    position: relative;
    top: 100px;
    text-align: center;
}
.gests{
    position: relative;
    top: 100px;
}
.gestt{
    position: relative;
    top: 20px;
}
.parcele{
    border:1px solid goldenrod;
    box-shadow: 0px 0px 5px black;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    text-align: center;
    height: 100%;
    margin-bottom: 30px;
}
.info p{
    word-wrap: break-word;
    color: black;
}
.imgControl {
    position: relative;
    top: 100px;
}
.imgControl img{
    object-fit: cover;
    width: 100%;
}
.vendres{
    position: relative;
    top: 100px;
    text-align: center;
}
.imgControle h2{
    text-align: center;
}
.bienv{
    position: relative;
    top: 100px;
    text-align: center;
}
.venduB{
    position: relative;
    top: 120px;
}
.modif{
    position:relative;
    top: 100px;
    text-align: center;
}
.modifs{
    position: relative;
    top: 100px;
    text-align: center;
}
.for label{
    text-align: left;
}
@media(max-width:767px){
    .imgControl img{
        display: none;
    }
}
